# ===== APPLICATION =====
APP_NAME=iac-demo
ENVIRONMENT=local

# ===== PORTS =====
BACKEND_PORT=3000
FRONTEND_PORT=8080

# ===== DATABASE =====
MYSQL_ROOT_PASSWORD=root_password_example
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password_example

# ===== REDIS =====
REDIS_PORT=6379

# ===== IMAGES FOR RUNTIME DEPLOY =====
BACKEND_IMAGE=iac-demo-backend:local
FRONTEND_IMAGE=iac-demo-frontend:local
